openstack_linux_raspis/trunk/imports/http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema/http%3A%2F%2Fdocs.oasis-open.org%2Ftosca%2Fns%2F2011%2F12%2FToscaBaseTypes%2Fpropertiesdefinition%2Fwinery/Properties/Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaBaseTypes/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="hostname" type="xsd:string"/><element name="sshUser" type="xsd:string"/><element name="sshKey" type="xsd:string"/><element name="script" type="xsd:string"/></sequence></complexType></element></schema>