openstack_linux_raspis/trunk/nodetypes/http%3A%2F%2Ftypes.opentosca.org/InstallOpenStackVM/propertiesdefinition/Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://types.opentosca.org/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="credentials" type="xsd:string"/><element name="endpointsAPI" type="xsd:string"/><element name="keypair" type="xsd:string"/><element name="minDisk" type="xsd:string"/><element name="minRAM" type="xsd:string"/><element name="flavorId" type="xsd:string"/><element name="imageId" type="xsd:string"/><element name="imageName" type="xsd:string"/><element name="floatingIp" type="xsd:string"/><element name="serverId" type="xsd:string"/><element name="privKey" type="xsd:string"/></sequence></complexType></element></schema>